SCHEMATIC START;
PROHIBIT = SITE "AA20";
PROHIBIT = SITE "A3";
PROHIBIT = SITE "AA22";
PROHIBIT = SITE "U15";
PROHIBIT = SITE "AB20";
PROHIBIT = SITE "T5";
PROHIBIT = SITE "Y21";
PROHIBIT = SITE "T6";
CONFIG VCCAUX = "3.3";
COMP "DRS4_DTAP<1>" LOCATE = SITE "C4" LEVEL 1;
COMP "DRS4_DTAP<2>" LOCATE = SITE "D3" LEVEL 1;
COMP "DRS4_DTAP<3>" LOCATE = SITE "K3" LEVEL 1;
COMP "EBI1_NWAIT" LOCATE = SITE "A18" LEVEL 1;
COMP "PC1_ARM_IRQ0" LOCATE = SITE "U19" LEVEL 1;
COMP "QOSC2_ENA" LOCATE = SITE "AB12" LEVEL 1;
COMP "PANEL_RS485_DE<0>" LOCATE = SITE "J22" LEVEL 1;
COMP "PANEL_RS485_DE<1>" LOCATE = SITE "E22" LEVEL 1;
COMP "PANEL_RS485_DE<2>" LOCATE = SITE "H22" LEVEL 1;
COMP "PANEL_RS485_DE<3>" LOCATE = SITE "D22" LEVEL 1;
COMP "PANEL_RS485_DE<4>" LOCATE = SITE "G22" LEVEL 1;
COMP "PANEL_RS485_DE<5>" LOCATE = SITE "N22" LEVEL 1;
COMP "PANEL_RS485_DE<6>" LOCATE = SITE "F22" LEVEL 1;
COMP "PANEL_RS485_DE<7>" LOCATE = SITE "L19" LEVEL 1;
COMP "QOSC2_OUT" LOCATE = SITE "J1" LEVEL 1;
COMP "DAC_DIN<1>" LOCATE = SITE "V7" LEVEL 1;
COMP "DAC_DIN<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "DAC_DIN<3>" LOCATE = SITE "Y12" LEVEL 1;
COMP "TEST_PDn" LOCATE = SITE "U17" LEVEL 1;
COMP "PON_PADDLEn<1>" LOCATE = SITE "V18" LEVEL 1;
COMP "PON_PADDLEn<2>" LOCATE = SITE "U16" LEVEL 1;
COMP "PON_PADDLEn<3>" LOCATE = SITE "AB17" LEVEL 1;
COMP "PANEL_RS485_RX<0>" LOCATE = SITE "B21" LEVEL 1;
COMP "PANEL_RS485_RX<1>" LOCATE = SITE "H19" LEVEL 1;
COMP "PANEL_RS485_RX<2>" LOCATE = SITE "H20" LEVEL 1;
COMP "PANEL_RS485_RX<3>" LOCATE = SITE "M19" LEVEL 1;
COMP "PANEL_RS485_RX<4>" LOCATE = SITE "V21" LEVEL 1;
COMP "PANEL_RS485_RX<5>" LOCATE = SITE "U20" LEVEL 1;
COMP "PANEL_RS485_RX<6>" LOCATE = SITE "R20" LEVEL 1;
COMP "PANEL_RS485_RX<7>" LOCATE = SITE "P21" LEVEL 1;
COMP "sda" LOCATE = SITE "L20" LEVEL 1;
COMP "scl" LOCATE = SITE "L22" LEVEL 1;
COMP "PANEL_RS485_TX<0>" LOCATE = SITE "B22" LEVEL 1;
COMP "PANEL_RS485_TX<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "PANEL_RS485_TX<2>" LOCATE = SITE "J19" LEVEL 1;
COMP "PANEL_RS485_TX<3>" LOCATE = SITE "N19" LEVEL 1;
COMP "PANEL_RS485_TX<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "PANEL_RS485_TX<5>" LOCATE = SITE "U22" LEVEL 1;
COMP "PANEL_RS485_TX<6>" LOCATE = SITE "R22" LEVEL 1;
COMP "PANEL_RS485_TX<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "DISCR_OUT_Dummy<0>" LOCATE = SITE "C22" LEVEL 1;
COMP "DISCR_OUT_Dummy<1>" LOCATE = SITE "F20" LEVEL 1;
COMP "DISCR_OUT_Dummy<2>" LOCATE = SITE "C20" LEVEL 1;
COMP "DISCR_OUT_Dummy<3>" LOCATE = SITE "G19" LEVEL 1;
COMP "DISCR_OUT_Dummy<4>" LOCATE = SITE "K19" LEVEL 1;
COMP "DISCR_OUT_Dummy<5>" LOCATE = SITE "K20" LEVEL 1;
COMP "DISCR_OUT_Dummy<6>" LOCATE = SITE "T21" LEVEL 1;
COMP "DISCR_OUT_Dummy<7>" LOCATE = SITE "J17" LEVEL 1;
COMP "DISCR_OUT_Dummy<8>" LOCATE = SITE "K21" LEVEL 1;
COMP "DISCR_OUT_Dummy<9>" LOCATE = SITE "M21" LEVEL 1;
COMP "DRS4_SRIN<1>" LOCATE = SITE "U6" LEVEL 1;
COMP "DRS4_SRIN<2>" LOCATE = SITE "Y4" LEVEL 1;
COMP "DRS4_SRIN<3>" LOCATE = SITE "AB3" LEVEL 1;
COMP "DRS4_REFCLK_N<1>" LOCATE = SITE "AB19" LEVEL 1;
COMP "DRS4_REFCLK_N<2>" LOCATE = SITE "AB18" LEVEL 1;
COMP "DRS4_REFCLK_N<3>" LOCATE = SITE "AB14" LEVEL 1;
COMP "DRS4_REFCLK_P<1>" LOCATE = SITE "Y19" LEVEL 1;
COMP "DRS4_REFCLK_P<2>" LOCATE = SITE "AA18" LEVEL 1;
COMP "DRS4_REFCLK_P<3>" LOCATE = SITE "AA14" LEVEL 1;
COMP "DAC_SCLK<1>" LOCATE = SITE "R7" LEVEL 1;
COMP "DAC_SCLK<2>" LOCATE = SITE "T7" LEVEL 1;
COMP "DAC_SCLK<3>" LOCATE = SITE "AA16" LEVEL 1;
COMP "PON_RESETn" LOCATE = SITE "Y8" LEVEL 1;
COMP "DRS4_SRCLK<1>" LOCATE = SITE "W14" LEVEL 1;
COMP "DRS4_SRCLK<2>" LOCATE = SITE "Y3" LEVEL 1;
COMP "DRS4_SRCLK<3>" LOCATE = SITE "AB4" LEVEL 1;
COMP "AERA_TRIG_N" LOCATE = SITE "T17" LEVEL 1;
COMP "AERA_TRIG_P" LOCATE = SITE "T18" LEVEL 1;
COMP "DRS4_DWRITE<1>" LOCATE = SITE "M18" LEVEL 1;
COMP "DRS4_DWRITE<2>" LOCATE = SITE "Y15" LEVEL 1;
COMP "DRS4_DWRITE<3>" LOCATE = SITE "AA4" LEVEL 1;
COMP "QOSC2_DAC_SCKL" LOCATE = SITE "AB9" LEVEL 1;
COMP "QOSC2_DAC_SDIN" LOCATE = SITE "P20" LEVEL 1;
COMP "DRS4_SROUT<1>" LOCATE = SITE "B2" LEVEL 1;
COMP "DRS4_SROUT<2>" LOCATE = SITE "E5" LEVEL 1;
COMP "DRS4_SROUT<3>" LOCATE = SITE "G7" LEVEL 1;
COMP "ADC_OUTA_1N<1>" LOCATE = SITE "E4" LEVEL 1;
COMP "ADC_OUTA_1N<3>" LOCATE = SITE "C1" LEVEL 1;
COMP "ADC_OUTA_1N<5>" LOCATE = SITE "G1" LEVEL 1;
COMP "ADC_OUTA_1N<7>" LOCATE = SITE "H5" LEVEL 1;
COMP "ADC_OUTA_1P<1>" LOCATE = SITE "D5" LEVEL 1;
COMP "ADC_OUTA_1P<3>" LOCATE = SITE "C3" LEVEL 1;
COMP "ADC_OUTA_1P<5>" LOCATE = SITE "G3" LEVEL 1;
COMP "ADC_OUTA_1P<7>" LOCATE = SITE "H6" LEVEL 1;
COMP "DRS4_PLLLCK<1>" LOCATE = SITE "B3" LEVEL 1;
COMP "DRS4_PLLLCK<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "DRS4_PLLLCK<3>" LOCATE = SITE "E6" LEVEL 1;
COMP "POW_SW_SDA" LOCATE = SITE "V19" LEVEL 1;
COMP "POW_SW_SCL" LOCATE = SITE "U13" LEVEL 1;
COMP "DRS4_RESETn<1>" LOCATE = SITE "R13" LEVEL 1;
COMP "DRS4_RESETn<2>" LOCATE = SITE "Y14" LEVEL 1;
COMP "DRS4_RESETn<3>" LOCATE = SITE "AB15" LEVEL 1;
COMP "QOSC1_DAC_SYNCn" LOCATE = SITE "W8" LEVEL 1;
COMP "DISCR_OUT<0>" LOCATE = SITE "J20" LEVEL 1;
COMP "DISCR_OUT<1>" LOCATE = SITE "E20" LEVEL 1;
COMP "DISCR_OUT<2>" LOCATE = SITE "H21" LEVEL 1;
COMP "DISCR_OUT<3>" LOCATE = SITE "D21" LEVEL 1;
COMP "DISCR_OUT<4>" LOCATE = SITE "G20" LEVEL 1;
COMP "DISCR_OUT<5>" LOCATE = SITE "N20" LEVEL 1;
COMP "DISCR_OUT<6>" LOCATE = SITE "F21" LEVEL 1;
COMP "DISCR_OUT<7>" LOCATE = SITE "M20" LEVEL 1;
COMP "EBI1_D<0>" LOCATE = SITE "A13" LEVEL 1;
COMP "EBI1_D<1>" LOCATE = SITE "B12" LEVEL 1;
COMP "EBI1_D<2>" LOCATE = SITE "C14" LEVEL 1;
COMP "EBI1_D<3>" LOCATE = SITE "C13" LEVEL 1;
COMP "EBI1_D<4>" LOCATE = SITE "A14" LEVEL 1;
COMP "EBI1_D<5>" LOCATE = SITE "D14" LEVEL 1;
COMP "EBI1_D<6>" LOCATE = SITE "C15" LEVEL 1;
COMP "EBI1_D<7>" LOCATE = SITE "B14" LEVEL 1;
COMP "EBI1_D<8>" LOCATE = SITE "C16" LEVEL 1;
COMP "EBI1_D<9>" LOCATE = SITE "D15" LEVEL 1;
COMP "DRS4_RSLOAD<1>" LOCATE = SITE "V15" LEVEL 1;
COMP "DRS4_RSLOAD<2>" LOCATE = SITE "Y7" LEVEL 1;
COMP "DRS4_RSLOAD<3>" LOCATE = SITE "AA6" LEVEL 1;
COMP "EBI1_NCS2" LOCATE = SITE "B8" LEVEL 1;
COMP "QOSC2_DAC_SYNCn" LOCATE = SITE "W22" LEVEL 1;
COMP "DAC_SYNCn<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "DAC_SYNCn<2>" LOCATE = SITE "AB6" LEVEL 1;
COMP "DAC_SYNCn<3>" LOCATE = SITE "AB13" LEVEL 1;
COMP "PANEL_NP24V_ON<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "PANEL_NP24V_ON<3>" LOCATE = SITE "T22" LEVEL 1;
COMP "PANEL_NP24V_ON<5>" LOCATE = SITE "M22" LEVEL 1;
COMP "PANEL_NP24V_ON<7>" LOCATE = SITE "K22" LEVEL 1;
COMP "ADC_OUTA_1N<0>" LOCATE = SITE "E1" LEVEL 1;
COMP "ADC_OUTA_1N<2>" LOCATE = SITE "D1" LEVEL 1;
COMP "ADC_OUTA_1N<4>" LOCATE = SITE "F1" LEVEL 1;
COMP "ADC_OUTA_1N<6>" LOCATE = SITE "H8" LEVEL 1;
COMP "ADC_OUTA_1P<0>" LOCATE = SITE "E3" LEVEL 1;
COMP "ADC_OUTA_1P<2>" LOCATE = SITE "D2" LEVEL 1;
COMP "ADC_OUTA_1P<4>" LOCATE = SITE "F2" LEVEL 1;
COMP "ADC_OUTA_1P<6>" LOCATE = SITE "J7" LEVEL 1;
COMP "GPS_EXTINT0" LOCATE = SITE "M17" LEVEL 1;
COMP "ADC_OUTA_2N<0>" LOCATE = SITE "M4" LEVEL 1;
COMP "ADC_OUTA_2N<1>" LOCATE = SITE "L6" LEVEL 1;
COMP "ADC_OUTA_2N<2>" LOCATE = SITE "L1" LEVEL 1;
COMP "ADC_OUTA_2N<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "ADC_OUTA_2N<4>" LOCATE = SITE "N7" LEVEL 1;
COMP "ADC_OUTA_2N<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "ADC_OUTA_2N<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "ADC_OUTA_2N<7>" LOCATE = SITE "P1" LEVEL 1;
COMP "GPS_TIMEPULSE2" LOCATE = SITE "J4" LEVEL 1;
COMP "ADC_OUTA_3N<0>" LOCATE = SITE "T1" LEVEL 1;
COMP "ADC_OUTA_2P<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "ADC_OUTA_3N<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "ADC_OUTA_2P<1>" LOCATE = SITE "M6" LEVEL 1;
COMP "ADC_OUTA_3N<2>" LOCATE = SITE "P5" LEVEL 1;
COMP "ADC_OUTA_2P<2>" LOCATE = SITE "L3" LEVEL 1;
COMP "ADC_OUTA_3N<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "ADC_OUTA_2P<3>" LOCATE = SITE "M7" LEVEL 1;
COMP "ADC_OUTA_3N<4>" LOCATE = SITE "Y1" LEVEL 1;
COMP "ADC_OUTA_2P<4>" LOCATE = SITE "N6" LEVEL 1;
COMP "ADC_OUTA_3N<5>" LOCATE = SITE "V1" LEVEL 1;
COMP "ADC_OUTA_2P<5>" LOCATE = SITE "P3" LEVEL 1;
COMP "ADC_OUTA_3N<6>" LOCATE = SITE "V3" LEVEL 1;
COMP "ADC_OUTA_2P<6>" LOCATE = SITE "R3" LEVEL 1;
COMP "ADC_OUTA_3N<7>" LOCATE = SITE "W1" LEVEL 1;
COMP "ADC_OUTA_2P<7>" LOCATE = SITE "P2" LEVEL 1;
COMP "ADC_OUTA_3P<0>" LOCATE = SITE "T2" LEVEL 1;
COMP "ADC_OUTA_3P<1>" LOCATE = SITE "P8" LEVEL 1;
COMP "ADC_OUTA_3P<2>" LOCATE = SITE "P6" LEVEL 1;
COMP "ADC_OUTA_3P<3>" LOCATE = SITE "R4" LEVEL 1;
COMP "ADC_OUTA_3P<4>" LOCATE = SITE "Y2" LEVEL 1;
COMP "ADC_OUTA_3P<5>" LOCATE = SITE "V2" LEVEL 1;
COMP "ADC_OUTA_3P<6>" LOCATE = SITE "U4" LEVEL 1;
COMP "ADC_OUTA_3P<7>" LOCATE = SITE "W3" LEVEL 1;
COMP "GPS_RESET_N" LOCATE = SITE "R11" LEVEL 1;
COMP "TEMPERATURE" LOCATE = SITE "Y17" LEVEL 1;
COMP "DRS4_A<0>" LOCATE = SITE "V5" LEVEL 1;
COMP "DRS4_A<1>" LOCATE = SITE "W12" LEVEL 1;
COMP "DRS4_A<2>" LOCATE = SITE "Y13" LEVEL 1;
COMP "DRS4_A<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "TEST_DAC_SDA" LOCATE = SITE "AA2" LEVEL 1;
COMP "TEST_DAC_SCL" LOCATE = SITE "W20" LEVEL 1;
COMP "ADC_CS_4" LOCATE = SITE "R19" LEVEL 1;
COMP "EBI1_NRD" LOCATE = SITE "D17" LEVEL 1;
COMP "EBI1_NWE" LOCATE = SITE "A9" LEVEL 1;
COMP "TEST_GATE<1>" LOCATE = SITE "AA8" LEVEL 1;
COMP "TEST_GATE<2>" LOCATE = SITE "V11" LEVEL 1;
COMP "TEST_GATE<3>" LOCATE = SITE "Y10" LEVEL 1;
COMP "EXT_TRIG_OUT_N" LOCATE = SITE "AB21" LEVEL 1;
COMP "EXT_TRIG_OUT_P" LOCATE = SITE "AA21" LEVEL 1;
COMP "GPS_TIMEPULSE" LOCATE = SITE "W10" LEVEL 1;
COMP "EBI1_ADDR<10>" LOCATE = SITE "D11" LEVEL 1;
COMP "EBI1_ADDR<11>" LOCATE = SITE "A7" LEVEL 1;
COMP "EBI1_ADDR<20>" LOCATE = SITE "A15" LEVEL 1;
COMP "EBI1_ADDR<12>" LOCATE = SITE "A10" LEVEL 1;
COMP "RS232_TXD" LOCATE = SITE "P17" LEVEL 1;
COMP "EBI1_ADDR<13>" LOCATE = SITE "D9" LEVEL 1;
COMP "EBI1_ADDR<14>" LOCATE = SITE "C11" LEVEL 1;
COMP "EBI1_ADDR<15>" LOCATE = SITE "C9" LEVEL 1;
COMP "EBI1_ADDR<16>" LOCATE = SITE "A11" LEVEL 1;
COMP "EBI1_ADDR<17>" LOCATE = SITE "C10" LEVEL 1;
COMP "EBI1_ADDR<18>" LOCATE = SITE "C12" LEVEL 1;
COMP "EBI1_ADDR<19>" LOCATE = SITE "B10" LEVEL 1;
COMP "ADC_SCK" LOCATE = SITE "Y9" LEVEL 1;
COMP "ADC_SDI" LOCATE = SITE "AA10" LEVEL 1;
COMP "DRS4_DENABLE<1>" LOCATE = SITE "T14" LEVEL 1;
COMP "DRS4_DENABLE<2>" LOCATE = SITE "W4" LEVEL 1;
COMP "DRS4_DENABLE<3>" LOCATE = SITE "AB2" LEVEL 1;
COMP "RS485_REn" LOCATE = SITE "L17" LEVEL 1;
COMP "RS485_TXD" LOCATE = SITE "N16" LEVEL 1;
COMP "EBI1_ADDR<0>" LOCATE = SITE "D7" LEVEL 1;
COMP "EBI1_ADDR<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "EBI1_ADDR<2>" LOCATE = SITE "D8" LEVEL 1;
COMP "EBI1_ADDR<3>" LOCATE = SITE "D6" LEVEL 1;
COMP "EBI1_ADDR<4>" LOCATE = SITE "C8" LEVEL 1;
COMP "EBI1_ADDR<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "EBI1_ADDR<6>" LOCATE = SITE "A8" LEVEL 1;
COMP "EBI1_ADDR<7>" LOCATE = SITE "C6" LEVEL 1;
COMP "EBI1_ADDR<8>" LOCATE = SITE "D10" LEVEL 1;
COMP "EBI1_ADDR<9>" LOCATE = SITE "C7" LEVEL 1;
COMP "RS485_DE" LOCATE = SITE "W11" LEVEL 1;
COMP "RS485_PV" LOCATE = SITE "AB7" LEVEL 1;
COMP "GPS_RXD1" LOCATE = SITE "A6" LEVEL 1;
COMP "EXT_CLK_N" LOCATE = SITE "K4" LEVEL 1;
COMP "EXT_CLK_P" LOCATE = SITE "K5" LEVEL 1;
COMP "GPS_TXD1" LOCATE = SITE "P18" LEVEL 1;
COMP "EBI1_D<10>" LOCATE = SITE "A16" LEVEL 1;
COMP "EBI1_D<11>" LOCATE = SITE "E16" LEVEL 1;
COMP "EBI1_D<12>" LOCATE = SITE "A17" LEVEL 1;
COMP "EBI1_D<13>" LOCATE = SITE "B16" LEVEL 1;
COMP "EBI1_D<14>" LOCATE = SITE "B18" LEVEL 1;
COMP "EBI1_D<15>" LOCATE = SITE "C17" LEVEL 1;
COMP "ADC_CSA<1>" LOCATE = SITE "AB11" LEVEL 1;
COMP "ADC_CSA<2>" LOCATE = SITE "R9" LEVEL 1;
COMP "ADC_CSA<3>" LOCATE = SITE "AB16" LEVEL 1;
COMP "ADC_ENC_N<1>" LOCATE = SITE "R15" LEVEL 1;
COMP "ADC_ENC_N<2>" LOCATE = SITE "W17" LEVEL 1;
COMP "ADC_CSB<1>" LOCATE = SITE "Y11" LEVEL 1;
COMP "ADC_ENC_N<3>" LOCATE = SITE "T15" LEVEL 1;
COMP "ADC_CSB<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "ADC_CSB<3>" LOCATE = SITE "W13" LEVEL 1;
COMP "ADC_ENC_P<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "ADC_ENC_P<2>" LOCATE = SITE "V17" LEVEL 1;
COMP "ADC_ENC_P<3>" LOCATE = SITE "T16" LEVEL 1;
COMP "EXT_PPS_N" LOCATE = SITE "A5" LEVEL 1;
COMP "EXT_PPS_P" LOCATE = SITE "C5" LEVEL 1;
COMP "ADC_ENC_4N" LOCATE = SITE "Y18" LEVEL 1;
COMP "ADC_ENC_4P" LOCATE = SITE "W18" LEVEL 1;
SCHEMATIC END;